.duplicateWarning, .illegalDeleteWarning {
  font-weight: bold;
  color: red;
}

.hidden {
  display: none;
}

.header {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 60% 20%;
}

.headerContainer {
  grid-column: 2 / 3;
}

.logInInfo {
  grid-column: 3 / 4;
  text-align: right;
  padding: 5px;
}

.logInInfo button {
  margin-left: 3px;
  cursor: pointer;
}

.logInInfo span, .logInInfo button {
  height: 24px;
}

.headerContainer {
  text-align: center;
}

.headerContainer h1, .headerContainer h2 {
  color: black;
}

.container {
  display: grid;
  height: 40px;
  width: 100%;
  grid-template-columns: 35% 30% 35%;
}

.item1 {
  height: 100%;
  width: 30%;
  border-radius: 12px;
  grid-column: 2 / 3;
}

.item1>input {
  color: black;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 2px;
  border: 2px solid #7a5560;
}

.item1>input:focus {
  outline: none;
}

.mainContainer {
  margin-top: 8px;
  display: grid;
  width: 100%;
  grid-template-columns: 35% 30% 35%;
}

.names {
  grid-column: 2 / 3;
  text-align: center;
}

.names > div {
  border-radius: 6px;
  height: 50px;
  margin-top: 3px;
  width: 100%;
  background-color: #7a5560;
  position: relative;
}

.name {
  color: black;
  line-height: 38px;
  font-weight: bold;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 0px;
  right: 3px;
  color: black;
  font: 16px arial;
  cursor: pointer;
}
